<!-- Start Quicklinks section -->
##QUICKLINKS-SECTION##
<!-- End Quicklinks section -->
<!-- Begin Private content -->
<section class="container-fluid content-pad prv-home-content prv-max-width">
<div class="row">
<!-- Start large left column -->
<div class="col-md-9 col-sm-12">
<!-- Begin Events Section -->
##EVENTS-SECTION##
<!-- End Events Section -->
</div>
<!-- End large left column -->
<!-- Start Small Right Column -->
<div class="col-md-3 col-sm-12">
<!-- Begin News Section -->
##NEWS-SECTION##
<!-- End News Section -->
</div>
<!-- End small right column -->
</div>
</section>
<!-- End private Content -->
